<div class="toolbar" role="banner">
  <span style="margin: 20px">Workout Manager</span>
  <div class="spacer"></div>
  <nav>
    <ul>
      <li>
        <a
          routerLink="workouts"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Workouts</a
        >
      </li>
      <li>
        <a
          routerLink="exercises"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Exercises</a
        >
      </li>
    </ul>
  </nav>
</div>
